
  <section class="custom_brands mb-60">
    <div class="custom_container">
      <div class="section_title">
        <h2>Производители</h2>
        <div class="custom_slider_arrows">
          <div class="prev arrow fa fa-light fa-chevron-left"></div>
          <div class="next arrow fa fa-light fa-chevron-right"></div>
        </div>
      </div>
      <div class="brands_slider owl-carousel">
	  	{% for banner in banners %}
			<div class="owl-slide" {% if banner.link %} onclick="window.location.href = '{{ banner.link }}';" style="cursor:pointer"{% endif %}>
				<figure>
					<img src="{{ banner.image }}" alt="{{ banner.title }}">
				</figure>
			</div>
		{% endfor %}
      </div>
    </div>
  </section>