{% for banner in banners %}
<section class="custom_hero mb-60">
    <figure>
      <img src="{{ banner.image }}" alt="">
    </figure>
    <div class="custom_container">
      <div class="hero_content">
        <div class="page_title">{{ banner.title }}</div>
        <div class="page_subtitle">{{ banner.link }}</div>
        <div class="hero_search">
          <div id="search">
            <input type="text" name="search" oninput="setSearch(this)" value="" placeholder="Поиск среди 950 тысяч артикулов с актуальными наличием и ценами">
            <button type="button">Искать</button>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endfor %}