

// Tags
.dl_theme{
	color: $cblack;
	font-size: 14px;
	font-family: $ffbase, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba($cblack, 0);
  background-color: #F6F5F5;
  &.white{
    background-color: $cwhite;
  }
  a{
    color: $ccorp;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    &:hover,
    &:focus{
      text-decoration: none;
    }
    &:hover{
      color: $cbase;
    }
    &:focus{
      color: $ccorp;
    }
  }
  // Tags
  // Map
  div.map{
    width: 100%;
    height: 400px;
  }
  // Map
 .container{
  margin: 0 auto;
  @media(max-width: 1024px){
    padding: 0 15px;
  }
 }
  // Container
  div.custom_container{
    width: 1400px;
    margin: 0 auto;
    @media(max-width: 1680px){
      width: 1300px;
    }
    @media(max-width: 1440px){
      width: 1200px;
    }
    @media(max-width: 1366px){
      width: 1100px;
    }
    @media(max-width: 1101px){
      width: 970px;
    }
    @media(max-width: 1024px){
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  // Container
  
  // show more
  .morecontent span {
    display: none;
  }
  .morelink {
    display: block;
    color: $cbase;
    font-size: 12px;
    &:hover {
      color: $cred;
    }
  }
  
  // Mobile fixed button
  .mobile_fixed_button {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
    z-index: 9999;
    @media (max-width: 1024px) {
      display: block;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $cwhite;
      text-transform: uppercase;
      font-size: 18px;
      width: 100%;
      padding: 10px 0;
      background: $ccorp;
    }
  }

  .mb-40{
    margin-bottom: 40px;
  }
  .mb-60{
    margin-bottom: 60px;
  }

  .mainShadow{
    box-shadow: $mainShadow;
  }

  .section_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @media(max-width: 768px){
      flex-wrap: wrap;
    }
    h2{
      font-size: 26px;
      font-weight: 700;
      color: $cblack;
      @media(max-width: 768px){
        font-size: 20px;
      }
    }
    .subtitle{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      color: $cbase;
      font-size: 15px;
      @media(max-width: 768px){
        order: 3;
        width: 100%;
        margin-top: 20px;
      }
      a{
        display: inline-block;
        margin: 0 4px;
        color: $cbase;
        font-size: 15px;
        transition: 0.4s;
        &:hover{
          color: $ccorp;
        }
      }
    }
  }
  
  .custom_slider_arrows{
    display: flex;
    align-items: center;
    gap: 10px;
    .arrow{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #D9D9D9;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-size: 22px;
      cursor: pointer;
      transition: 0.4s;
      &:hover{
        background-color: $cblack;
        color: $cwhite;
      }
      &.prev{
        &:before{
          position: relative;
          left: -1px;
          top: 1px;
        }
      }
      &.next{

        &:before{
          position: relative;
          left: 1px;
          top: 1px;
        }
      }
    }
  }
  .owl-controls{
    display: none !important;
  }
}
