{{ header }}

<div class="dl_theme">
  <section class="custom_hero mb-60">
    <figure>
      <img src="https://mirjcb.ru/image/images/hero.jpg" alt="">
    </figure>
    <div class="custom_container">
      <div class="hero_content">
        <h1 class="page_title">Найдите запчасти для своей техники</h1>
        <div class="page_subtitle">По артикулу или названию</div>
        <div class="hero_search">
          <div id="search">
            <input type="text" name="search" oninput="setSearch(this)" value="" placeholder="Поиск среди 950 тысяч артикулов с актуальными наличием и ценами">
            <button type="button">Искать</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="benefits mb-60">
    <div class="custom_container">
      <ul class="benefit_list">
        <li class="benefit_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/icon1.svg" alt="">
          </figure>
          <div class="benefit_content">
            <div class="title">Удобный поиск</div>
            <div class="value">Удобная сортировка и фильтрация</div>
          </div>
        </li>
        <li class="benefit_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/icon2.svg" alt="">
          </figure>
          <div class="benefit_content">
            <div class="title">Всё в наличии</div>
            <div class="value">Склад запчастей на территории России</div>
          </div>
        </li>
        <li class="benefit_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/icon3.svg" alt="">
          </figure>
          <div class="benefit_content">
            <div class="title">Быстрое оформление</div>
            <div class="value">Вышлем счет через 5 минут</div>
          </div>
        </li>
        <li class="benefit_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/icon4.svg" alt="">
          </figure>
          <div class="benefit_content">
            <div class="title">Доставка и самовывоз</div>
            <div class="value">поможем быстро получить заказ</div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="custom_services mb-40">
    <div class="custom_container">
      <ul class="services_list">
        <li class="service_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/service1.svg" alt="">
          </figure>
          <div class="title">Запчасти гидравлики</div>
          <div class="value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eius reiciendis sapiente voluptatem porro vel in magni doloribus ad nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, suscipit!</div>
        </li>
        <li class="service_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/service2.svg" alt="">
          </figure>
          <div class="title">Запчасти для двигателя</div>
          <div class="value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eius reiciendis sapiente voluptatem porro vel in magni doloribus ad nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, suscipit!</div>
        </li>
        <li class="service_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/service3.svg" alt="">
          </figure>
          <div class="title">Запчасти ходовой части</div>
          <div class="value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eius reiciendis sapiente voluptatem porro vel in magni doloribus ad nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, suscipit!</div>
        </li>
        <li class="service_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/service4.svg" alt="">
          </figure>
          <div class="title">Электрика и электроника</div>
          <div class="value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eius reiciendis sapiente voluptatem porro vel in magni doloribus ad nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, suscipit!</div>
        </li>
        <li class="service_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/service5.svg" alt="">
          </figure>
          <div class="title">Запчасти трансмиссии</div>
          <div class="value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eius reiciendis sapiente voluptatem porro vel in magni doloribus ad nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, suscipit!</div>
        </li>
        <li class="service_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/service6.svg" alt="">
          </figure>
          <div class="title">Навесное оборудование</div>
          <div class="value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eius reiciendis sapiente voluptatem porro vel in magni doloribus ad nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, suscipit!</div>
        </li>
        <li class="service_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/service7.svg" alt="">
          </figure>
          <div class="title">Ремкомплекты</div>
          <div class="value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eius reiciendis sapiente voluptatem porro vel in magni doloribus ad nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, suscipit!</div>
        </li>
        <li class="service_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/service8.svg" alt="">
          </figure>
          <div class="title">Фильтры</div>
          <div class="value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eius reiciendis sapiente voluptatem porro vel in magni doloribus ad nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, suscipit!</div>
        </li>
        <li class="service_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/service9.svg" alt="">
          </figure>
          <div class="title">Кузовные детали</div>
          <div class="value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eius reiciendis sapiente voluptatem porro vel in magni doloribus ad nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, suscipit!</div>
        </li>
        <li class="service_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/service10.svg" alt="">
          </figure>
          <div class="title">Втулки и пальцы</div>
          <div class="value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eius reiciendis sapiente voluptatem porro vel in magni doloribus ad nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, suscipit!</div>
        </li>
        <li class="service_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/service11.svg" alt="">
          </figure>
          <div class="title">Топливная система</div>
          <div class="value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eius reiciendis sapiente voluptatem porro vel in magni doloribus ad nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, suscipit!</div>
        </li>
        <li class="service_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/service12.svg" alt="">
          </figure>
          <div class="title">Стекла</div>
          <div class="value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eius reiciendis sapiente voluptatem porro vel in magni doloribus ad nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, suscipit!</div>
        </li>
        <li class="service_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/service13.svg" alt="">
          </figure>
          <div class="title">Тормозные системы</div>
          <div class="value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eius reiciendis sapiente voluptatem porro vel in magni doloribus ad nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, suscipit!</div>
        </li>

      </ul>
    </div>
  </section>

  <section class="custom_products mb-40">
    <div class="custom_container">
      <div class="section_content">
        <div class="section_title">
          <h2>Распродажа</h2>
          <div class="custom_slider_arrows">
            <div class="prev arrow fa fa-light fa-chevron-left"></div>
            <div class="next arrow fa fa-light fa-chevron-right"></div>
          </div>
        </div>
        <div class="products_list owl-carousel">
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="custom_products mb-40">
    <div class="custom_container">
      <div class="section_content">
        <div class="section_title">
          <h2>Популярные категории</h2>
          <div class="subtitle">Втулки и пальцы Ремкомплекты Фильтры Масла и смазки Запчасти ходовой части</div>
          <div class="custom_slider_arrows ">
            <div class="prev arrow fa fa-light fa-chevron-left"></div>
            <div class="next arrow fa fa-light fa-chevron-right"></div>
          </div>
        </div>
        <div class="products_list owl-carousel">
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
          <div class="owl-slide">
            <figure>
              <img src="https://mirjcb.ru/image/images/product.png" alt="">
            </figure>
            <div class="product_content">
              <h3 class="title">Втулка (JCB) 1209/0032</h3>
              <div class="slug">Артикул: 1209/0032</div>
              <div class="price">
                <div class="new">650 ₽</div>
                <div class="old">850 ₽</div>
              </div>
              <div class="buy_btn"><a href="#">Купить</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="custom_blog mb-40" >
    <div class="custom_container">
      <div class="section_title">
        <h2>Новые статьи</h2>
        <div class="custom_slider_arrows">
          <div class="prev arrow fa fa-light fa-chevron-left"></div>
          <div class="next arrow fa fa-light fa-chevron-right"></div>
        </div>
      </div>
      <div class="blog_list owl-carousel">
      
        <div class="blog_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/blog3.png" alt="">
          </figure>
          <div class="blog_content">
            <div class="blog_top">
              <div class="time">
                <img src="https://mirjcb.ru/image/images/calendar.svg" alt="">
                <div class="date">12.06.2023</div>
              </div>
              <div class="read_more"><a href="#">Читать далее...</a></div>
            </div>
            <div class="title">Эксплуатации Экскаватора-Погрузчика JCB</div>
            <div class="excerpt">Познакомьтесь с особенностями управления и устройством кабины экскаватора-погрузчика JCB. Добейтесь максимальной производительности!</div>
          </div>
        </div>
        <div class="blog_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/blog1.png" alt="">
          </figure>
          <div class="blog_content">
            <div class="blog_top">
              <div class="time">
                <img src="https://mirjcb.ru/image/images/calendar.svg" alt="">
                <div class="date">12.06.2023</div>
              </div>
              <div class="read_more"><a href="#">Читать далее...</a></div>
            </div>
            <div class="title">Эксплуатации Экскаватора-Погрузчика JCB</div>
            <div class="excerpt">Познакомьтесь с особенностями управления и устройством кабины экскаватора-погрузчика JCB. Добейтесь максимальной производительности!</div>
          </div>
        </div>
        <div class="blog_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/blog2.png" alt="">
          </figure>
          <div class="blog_content">
            <div class="blog_top">
              <div class="time">
                <img src="https://mirjcb.ru/image/images/calendar.svg" alt="">
                <div class="date">12.06.2023</div>
              </div>
              <div class="read_more"><a href="#">Читать далее...</a></div>
            </div>
            <div class="title">Эксплуатации Экскаватора-Погрузчика JCB</div>
            <div class="excerpt">Познакомьтесь с особенностями управления и устройством кабины экскаватора-погрузчика JCB. Добейтесь максимальной производительности!</div>
          </div>
        </div>
        <div class="blog_item">
          <figure>
            <img src="https://mirjcb.ru/image/images/blog3.png" alt="">
          </figure>
          <div class="blog_content">
            <div class="blog_top">
              <div class="time">
                <img src="https://mirjcb.ru/image/images/calendar.svg" alt="">
                <div class="date">12.06.2023</div>
              </div>
              <div class="read_more"><a href="#">Читать далее...</a></div>
            </div>
            <div class="title">Эксплуатации Экскаватора-Погрузчика JCB</div>
            <div class="excerpt">Познакомьтесь с особенностями управления и устройством кабины экскаватора-погрузчика JCB. Добейтесь максимальной производительности!</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="custom_text mb-60">
    <div class="custom_container">
      <div class="section_text">
        <h1>Запчасти JCB и расходные материалы для спецтехники</h1>
        <p>Интернет-магазин Спецтехмир поставляет запасные части для строительной, дорожной, сельскохозяйственной спецтехники JCB. В наличии всегда есть оригинальные и неоригинальные запчасти для самых ходовых моделей экскаваторов-погрузчиков JCB 3CX, 4CX.</p>
        <h2>Ассортимент запчастей JCB</h2>
        <p>
          От качества комплектующих зависит производительность техники. Мы предлагаем всё необходимое для ремонта и сервисного обслуживания экскаватора-погрузчика 3CX, 4CX. В продаже:

          <ol>
            <li>фильтры для спецтехники – масляные, топливные (грубой, тонкой очистки), воздушные, гидравлические, трансмиссионные;</li>
            <li>электрика, электроника;</li>
            <li>элементы трансмиссии;</li>
            <li>кузовные детали;</li>
            <li>втулки, пальцы;</li>
            <li>элементы гидравлической системы;</li>
            <li>недорогое навесное оборудование для моделей экскаватора-погрузчика 3CX, 4CX – гидромолоты, задняя стрела, ковш ДжиСиБи;</li>
            <li>коронки, зубья;</li>
            <li>колёсные диски;</li>
            <li>элементы двигателя;</li>
            <li>ходовая часть;</li>
            <li>стёкла (передние, задние, боковые);</li>
            <li>тормоза;</li>
            <li>задние опоры.</li>
          </ol>

          У нас можно заказать оригинальные комплектующие британской марки и сертифицированные аналоги от ведущих российских, турецких, китайских производителей. Запасные части стоят недорого, производятся из качественных материалов, соответствуют техническим требованиям, международным стандартам, обеспечивают высокую производительность, долгий срок службы техники.
          Мы сотрудничаем с надёжными поставщиками без посредников, поэтому гарантируем качество товаров и устанавливаем разумные цены без накрутки.
        </p>
        <h2>Доставка запчастей по Краснодару и Краснодарскому краю  </h2>
        <p>Чтобы купить фирменные запасные части и расходные материалы для спецтехники ДжиСиБи, выбирайте позицию в каталоге и оформляйте заказ онлайн. На оригинальные и неоригинальные товары действует гарантия производителя.
        Если вы не нашли нужную деталь на сайте, позвоните нам по телефону +7 (918) 350-88-08 или +7 (861) 240-01-68. Мы подберём то, что вам требуется, по серийному номеру.
        Интернет-магазин Спецтехмир сотрудничает с транспортными компаниями, предлагая предлагаем услуги доставки по Краснодарскому краю. В Краснодаре возможен самовывоз со склада.
        Компания Спецтехмир не является официальным представителем JCB в России.</p>
      </div>
    </div>
  </section>

  <section class="custom_brands mb-60">
    <div class="custom_container">
      <div class="section_title">
        <h2>Бренды</h2>
        <div class="custom_slider_arrows">
          <div class="prev arrow fa fa-light fa-chevron-left"></div>
          <div class="next arrow fa fa-light fa-chevron-right"></div>
        </div>
      </div>
      <div class="brands_slider owl-carousel">
        <div class="owl-slide">
          <figure>
            <img src="https://mirjcb.ru/image/images/partner1.png" alt="">
          </figure>
        </div>
        <div class="owl-slide">
          <figure>
            <img src="https://mirjcb.ru/image/images/partner2.png" alt="">
          </figure>
        </div>
        <div class="owl-slide">
          <figure>
            <img src="https://mirjcb.ru/image/images/partner3.png" alt="">
          </figure>
        </div>
        <div class="owl-slide">
          <figure>
            <img src="https://mirjcb.ru/image/images/partner4.png" alt="">
          </figure>
        </div>
        <div class="owl-slide">
          <figure>
            <img src="https://mirjcb.ru/image/images/partner5.png" alt="">
          </figure>
        </div>
        <div class="owl-slide">
          <figure>
            <img src="https://mirjcb.ru/image/images/partner1.png" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="custom_map mb-60">
    <div class="custom_container">
      <div class="section_title">
        <h2>Как к нам добраться</h2>
      </div>
      <div class="map_iframe">
        <iframe src="https://yandex.ru/map-widget/v1/-/CCUauCb48D" width="90%" height="350" frameborder="1" allowfullscreen="true"></iframe>
      </div>
    </div>
  </section>
</div>
<script>
  $('.brands_slider').owlCarousel({
      items: 5,
      itemsDesktop : [1199,4], 
      itemsDesktopSmall : [991,3], 
      itemsTablet: [480,2], 
      itemsMobile : [320,2],
      singleItem: false,
      navigation: true,
      pagination: false,
      autoPlay: true         
  });
  
  $('.blog_list').owlCarousel({
      items: 3,
      itemsDesktop : [1199,2], 
      itemsDesktopSmall : [991,2], 
      itemsTablet: [480,1], 
      singleItem: false,
      navigation: true,
      pagination: false,
      autoPlay: true,   
      margin: 15            
  });

  $('.products_list').owlCarousel({
    items: 5,
    itemsDesktop : [1199,4], 
    itemsDesktopSmall : [991,3], 
    itemsTablet: [480,1],
    singleItem: false,
    navigation: true,
    pagination: false,
    autoPlay: true,    
    margin: 45     
  });
  const customArrows = document.querySelectorAll(".custom_slider_arrows .arrow");
  customArrows.forEach( function (item) {
    item.addEventListener("click", e => {
      console.log("clicked")
      const target = e.target;
      const parent = target.closest("section");
      if(target.classList.contains("prev")){
        $(parent.querySelector(".owl-carousel")).trigger('owl.prev');
      }else if(target.classList.contains("next")){
        $(parent.querySelector(".owl-carousel")).trigger('owl.next');
      }
    })
  })
</script>
{{ footer }}