.dl_theme{
  .custom_hero{
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    figure{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .custom_container{
      z-index: 2;
      @media(max-width: 768px){
        position: static;
      }
      .hero_content{
        @media(max-width: 768px){
          position: static;
        }
        .page_title{
          margin-bottom: 15px;
          font-size: 48px;
          font-weight: 400;
          color: $cwhite;
          text-align: center;
          @media(max-width: 768px){
            font-size: 28px;
          }
        }
        .page_subtitle{
          margin-bottom: 30px;
          color: $cwhite;
          text-align: center;
          font-size: 17px;
          font-weight: 400;
          @media(max-width: 768px){
            margin-bottom: 20px;
            font-size: 15px;
          }
        }
        .hero_search{
          @media(max-width: 768px){
            display: flex;
            justify-content: center;
            position: static;
          }
          #search{
            display: flex;
            align-items: center;
            gap: 30px;
            float: unset;
            position: relative;
            @media(max-width: 768px){
              flex-wrap: wrap;
              gap: 20px;
              margin: 0 !important;
              position: static;
            }
            input{
              flex: 1;
              height: 44px;
              background-color: $cwhite;
              color: $cblack;
              border-radius: 2px;
              &::placeholder{
                color: #8F8F8F;
              }
            }
            .dynamic_options{
              display: none;
              position: absolute;
              top: 46px;
              left: 0;
              width: calc(100% - 164px);
              max-height: 482px;
              overflow: auto;
              background-color: $cwhite;
              padding: 40px;
              border-radius: 5px;
              @media(max-width: 768px){
                max-height: 100vh;
                width: 100%;
                padding: 20px;
              }
              .options_group{
                margin-bottom: 20px;
                .group_title{
                  margin-bottom: 20px;
                  padding-bottom: 15px;
                  font-size: 22px;
                  font-weight: 700;
                  color: $cblack;
                  border-bottom: 2px solid #C1C3C5;
                  @media(max-width: 768px){
                    padding-bottom: 10px;
                    font-size: 20px;
                  }
                }
                .group_items{
                  ul{
                    @extend .no-list;
                    display: grid;
                    grid-gap: 10px;
                    grid-template-columns:  repeat(2, 1fr);
                    @media(max-width: 768px){
                      grid-template-columns: 1fr;
                      grid-gap: 5px;
                    }
                    li{
                      a{
                        color: $cblack;
                        transition: 0.4s;
                        font-size: 18px;
                        line-height: 21.6px;
                        &:hover{
                          color: $ccorp;
                        }
                      }
                    }
                  }
                }
              }
            }
            
            .close_dynamic_options{
              display: none;
              position: absolute;
              right: 179px;
              top: 50%;
              transform: translateY(-50%);
              cursor: pointer;
              transition: 0.4s;
              &:hover{
                transform: translateY(-50%) rotateZ(180deg);
              }
              @media(max-width: 768px){
                right: 15px;
                top: 22px;
              }
            }
            button{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 134px;
              height: 44px;
              color: $cwhite;
              background-color: $ccorp;
              border-radius: 2px;
              transition: 0.4s;
              @media(max-width: 768px){
                width: 100%;
              }
              &:hover{
                background-color: $cblack;
              }
            }
            
            &.is-active{
              .dynamic_options,
              .close_dynamic_options{
                display: block;
              }
              input{
                @media(max-width: 768px){
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}