.dl_theme{
  .custom_brands{
    .brands_slider{
      .owl-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        height: 90px;
        background-color: $cwhite;
        @media(max-width: 768px){
          margin: 0 5px;
        }
        figure{
          max-width: 100%;
          max-height: 100%;
          img{

          }
        }
      }
    }
  }
}